$color-dark-grey:#2A2729;
$color-light-grey:rgb(177, 171, 175);
$color-white: white;
$color-alt-grey: #3A3A3A;
$font-family:Ariel, Helvetica, sans-serif;
$font-size: (
    "xx-small": 2.0vh,
    "x-small": 2.2vh,
    "small": 2.5vh,
    "medium" : 3vh,
    "large" : 3.5vh
);

* {
    font-family: $font-family;
    margin: 0.5vh;
    color: $color-white;
}

@mixin mobile {
    @media (max-width: 520px) {
        @content;
    }
}

@function set-font-size($width){
//    @if expr {
       
//    }
}