.App{
    header{
        display: flex;
        flex-direction: row;
        img{
            width: 20vh;
            height: 8vh;
            pointer-events: none;
        }
        .Search{
            margin: 16px 20% auto;
            display: flex;
            #search-box{
                min-width:40vw;
                position: relative;
                background-color: $color-dark-grey;
                padding: 10px 30px 10px 10px;
                border-radius: 8px;
            }
            .search-button{
                background: url(search_n1.png) no-repeat center center;
                background-size: 16px 16px;
                width: 46px;
                border-radius: 0 3px 3px 0;
                height: 38px;
                position: relative;
                left: -59px;
                top: 0.09em;
                cursor: pointer;
                &:hover{
                    background-size: 16px 16px;
                    background-color: lighten($color: $color-light-grey, $amount: 20); 
                    opacity: 0.2;
                }
            } 
        }
        @include mobile(){
            // flex-direction: column; // search box below yt icon
            .Search{
                margin: 16px 4% auto;
            }
            img{
                width: 18vh;
                height: 6vh;
            }
        }
    }
}
