.player{
    padding: 2vh;
    margin: 2vh;
    display: grid;
    grid-template-columns: 94% 6%;
    max-height: 460px;
    position: relative;
    border-radius: 4px;
    background-color: $color-alt-grey;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    animation: 1s ease-in 0s 1 slideIn; 
    &__sub{
        padding: 2px;
        p{
            margin-bottom: 6px;
        }
        iframe{ //to-do ---size small screen
            width: 620px;
            height: 340px;
        }
        &__title{
            font-size: map-get($font-size, medium);   
        }
        &__views{
            font-size: map-get($font-size, x-small);
            color: $color-light-grey;
        }
        &__likes{
            display: flex;
            vertical-align: top;
            padding: 0.1rem;
            &__value{
                margin-top: -0.07rem;
                font-size: map-get($font-size, small);
            }
        }
    }
    &__close{
        cursor: pointer;
        padding: 1px;
        width: 25px;
        height: 25px;
        top: 0px;
        right: 0px;
        border-radius: 4px;
        position: absolute;
        text-align: center;
        background-color: $color-alt-grey;  
        color: $color-white;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
        border: none;
        &:hover{
            background-color: lighten($color: $color-dark-grey, $amount: 20);
        }
        &:active{
            transform: translateY(2px);
        }
    }
    @include mobile(){
        flex-direction: column;
        .iframe{
            width: 540px;
            height: 250px;
        }
        img{
            width: 18vh;
            height: 6vh;
        }
    }
}

@keyframes slideIn{
    0%{
        transform: translateX(-60%);
    }
    100%{
        transform: translateX(0);
    }
}