* {
  font-family: Ariel, Helvetica, sans-serif;
  margin: 0.5vh;
  color: white;
}

.App header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.App header img {
  width: 20vh;
  height: 8vh;
  pointer-events: none;
}

.App header .Search {
  margin: 16px 20% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App header .Search #search-box {
  min-width: 40vw;
  position: relative;
  background-color: #2A2729;
  padding: 10px 30px 10px 5px;
  border-radius: 4px;
}

.App header .Search .search-button {
  background: url(search_n1.png) no-repeat center center;
  background-size: 16px 16px;
  width: 46px;
  border-radius: 0 3px 3px 0;
  height: 38px;
  position: relative;
  left: -59px;
  top: 0.09em;
  cursor: pointer;
}

.App header .Search .search-button:hover {
  background-color: #938a90;
}

@media (max-width: 800px) {
  .App header .Search {
    margin: 16px 4% auto;
  }
  .App header img {
    width: 18vh;
    height: 6vh;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #2A2729;
  margin: 1vh;
}

body .list {
  padding: 0 2px;
  margin: 2vh 4vh auto;
  max-width: 70vw;
}

body .list__item {
  cursor: pointer;
  padding: 2px;
  margin: 0 0 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 30vh;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #2A2729;
  -webkit-transition: font-size 2s ease-in;
  transition: font-size 2s ease-in;
}

body .list__item .container {
  position: relative;
}

body .list__item .container img {
  min-width: 32min;
  min-height: 24vmin;
  margin-right: 5px;
  padding: 2px;
}

body .list__item .container p {
  position: absolute;
  bottom: 8px;
  right: 12px;
  font-size: 4vh;
  color: white;
  background-color: #2A2729;
  border-radius: 4px;
  padding: 2px;
  opacity: 0.8;
}

body .list__item__list2 {
  padding: 2px;
}

body .list__item__list2 p {
  margin: 7px;
}

body .list__item__list2__title {
  font-size: 3vh;
  font-weight: bold;
}

body .list__item__list2__channelName {
  font-size: 3vh;
  font-weight: normal;
}

body .list__item__list2__desc {
  color: #b1abaf;
  font-size: 2.5vh;
  font-style: normal;
  font-weight: lighter;
}

body .list__item:hover {
  border: 1px solid #b1abaf;
}

body .list__item:active {
  border: 1px solid #b1abaf;
  opacity: 0.7;
}

@media (max-width: 800px) {
  body .list .list__item__list2__title {
    font-size: 2.5vh;
  }
  body .list .list__item__list2__channelName {
    font-size: 2.5vh;
  }
  body .list .list__item__list2__desc {
    font-size: 2.3vh;
  }
  body .list .container img {
    min-width: 28min;
    min-height: 20vmin;
  }
}

body .side {
  -webkit-animation: 1s ease-in 0s 1 slideIn;
          animation: 1s ease-in 0s 1 slideIn;
}

body .side .list__item__list2__title {
  font-size: 2.5vh;
}

body .side .list__item__list2__channelName {
  font-size: 2.3vh;
}

body .side .list__item__list2__desc {
  font-size: 2.3vh;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  70% {
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  70% {
    -webkit-transform: translateX(80%);
            transform: translateX(80%);
  }
}

body .error {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -140px;
  color: white;
  font-size: 12px;
}

body .error img {
  padding: 0 2px;
  margin: 0 18% auto;
  min-width: 30min;
  min-height: 20vmin;
}

body .player {
  padding: 2vh;
  margin: 2vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 94% 6%;
      grid-template-columns: 94% 6%;
  max-height: 460px;
  position: relative;
  border-radius: 4px;
  background-color: #3A3A3A;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation: 1s ease-in 0s 1 slideIn;
          animation: 1s ease-in 0s 1 slideIn;
}

body .player__sub {
  padding: 2px;
}

body .player__sub p {
  margin-bottom: 6px;
}

body .player__sub iframe {
  width: 620px;
  height: 340px;
}

body .player__sub__title {
  font-size: 3vh;
}

body .player__sub__views {
  font-size: 2.3vh;
  color: #b1abaf;
}

body .player__sub__likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  padding: 0.1rem;
}

body .player__sub__likes__value {
  margin-top: -0.07rem;
  font-size: 2.5vh;
}

body .player__close {
  cursor: pointer;
  padding: 1px;
  width: 25px;
  height: 25px;
  top: 0px;
  right: 0px;
  border-radius: 4px;
  position: absolute;
  text-align: center;
  background-color: #3A3A3A;
  color: white;
  border: none;
}

body .player__close:hover {
  background-color: #5f585d;
}

body .player__close:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@media (max-width: 800px) {
  body .player {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .player .iframe {
    width: 540px;
    height: 250px;
  }
  body .player img {
    width: 18vh;
    height: 6vh;
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 800px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=App.css.map */