.App {
    background-color: #2A2729;
}

body{
     background-color: #2A2729
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  margin-left: 15px;
  margin-top: 10px;
}

#search-box { /* the search box */
	width:500px;
	height:2vmin;
  justify-content: center;
	font-size:15;
  margin-left: 200px;
  margin-top: 10px;
	margin-bottom: -10;
}

.Search{
    margin-top: 2vmin;
}

.search-button { /* the search button */
	width: 7vmin;
  height: 5vmin;
	background-image: url(search_n1.png);
	background-size: 40px 25px;
	background-repeat: no-repeat;
}

.search-button:hover { /* the search button */
  background-size: 40px 25px;
	background-image: url(search_h1.png);
	background-color: #D3D3D3;
}

.App-header {
  background-color: #2A2729;
  min-height: 12vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

#player{
  padding: 2vh;
  align-items: center;
  /* border: 1px solid black; */
  background-color: #3A3A3A;
}


#search-result-box{
  visibility: hidden;
  background-color: #3A3A3A;
  height: 70%;
  width: 150vh;
  text-align: left;
  color:white;
  margin-left: 30vh;
}

.App-link {
  color: #61dafb;
}

.p1{
  font-weight: bold;
  font-family: Ariel, Helvetica, sans-serif;
}

#thumbnail{
  height: 25vmin;
  margin-right: 5px;
}

ul {
	display: flex;
  color: white;
  display: inline-block;
	flex-direction: column;
}

#li1 {
	padding: 3px;
	display: flex;
}

#title {
	display: flex;
	text-align: left;
	font-family: Ariel, Helvetica, serif;
	font-size: 16px;
  font-weight: bold;
	justify-content: left;
}

#li2{
  display: flex;
  color: white;
  background-color:  #2A2729;
  max-height: 25vmin;
  width: 105vmin;
  flex-direction: column;
  padding: 5px;
}

#desc {
	display: flex;
	text-align: left;
	font-family: Ariel, Helvetica, serif;
	font-size: 14px;
	justify-content: left;
	align-content: flex-start;
}
