.App {
  background-color: #2A2729;
}

body{
  background-color: #2A2729
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  margin-left: 15px;
  margin-top: 10px;
}

#search-box { /* the search box */
	width:500px;
	height:2vmin;
  margin-left: 200px;
  margin-top: 10px;
	margin-bottom: -10;
}

.r-player{
  margin-bottom: 15px;
}

.Search{
  margin-top: 2vmin;
}

.search-button { /* the search button */
	width: 7vmin;
  height: 5vmin;
	background-image: url(search_n1.png);
	background-size: 40px 25px;
	background-repeat: no-repeat;
}

.search-button:hover { /* the search button */
  background-size: 40px 25px;
	background-image: url(search_h1.png);
	background-color: #D3D3D3;
}

.errorImg{
  width: 40vmin;
  height: 30vmin;
}

.App-header {
  background-color: #2A2729;
  min-height: 12vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.p1{
  font-weight: bold;
  font-family: Ariel, Helvetica, sans-serif;
}

.thumbnail{
  height: 25vmin;
  margin-right: 5px;
  border-radius: 4px;
  padding: 2px;
}

ul {
  color: white;
  display: inline-block;
  flex-direction: column;
}

.sub{
  margin: 6px;

}

.p3{
  margin: 0;
  padding: 5px;
}

.li1 {
  padding: 2px;
  margin: 0 0 2px 0;
  display: flex;
  cursor: pointer;
  overflow: auto;
  border-radius: 5px;
  /* background-color: rgb(48, 47, 47); */
  border: 1px solid rgb(68, 67, 67);
}

.li1:hover {
  border: 1px solid rgb(192, 191, 191);
}

.li1:active {
  border: 1px solid rgb(192, 191, 191);
  opacity: 0.7;
}

.p2{
  margin: 6px;
  font-family: Ariel, Helvetica, serif;
  color:white;
}

.title {
  font-size: 18px;
  justify-content: flex-start;
  font-weight: bold;
}

.desc {
  font-size: 15px;
  font-style: normal;
  justify-content: flex-end;
  font-weight: lighter;
}

.channelName{
  font-size: 17px;
  font-weight: normal;
}

.li2{
  display: flex;
  color: white;
  max-height: 25vmin;
  width: 105vmin;
  flex-direction: column;
  padding: 5px;
}


.error{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
}

.player{
  padding: 2vh;
  align-items: center;
  color: white;
  margin-left: 7vh;
  grid-template-columns: 96% 4%;
  display: grid;
  width: 850px;
  background-color: #3A3A3A;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

h3 {
  color: white;
}

.close{
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: rgb(190, 188, 188);
  top: 2px;
  right: 2px;
  position: absolute;
}

.close:hover{
  background-color: rgb(133, 127, 127);
}

.like1{
  display:flex;
  flex-direction: row;
}

.likeIcon{
  margin-top: 7px;
}

.views{
  font-size: 14px;
}

.close:active {
  transform: translateY(4px);
}