.App {
    background-color: #2A2729;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  margin-left: 15px;
  margin-top: 10px;
}

#search-box { /* the search box */
	width:500px;
	height:2vmin;
  justify-content: center;
	font-size:15;
  margin-left: 200px;
  margin-top: 10px;
	margin-bottom: -10;
}

.Search{
    margin-top: 2vmin;
}

.search-button { /* the search button */
	width: 7vmin;
  height: 5vmin;
	background-image: url(search_n1.png);
	background-size: 40px 25px;
	background-repeat: no-repeat;
}

.search-button:hover { /* the search button */
  background-size: 40px 25px;
	background-image: url(search_h1.png);
	background-color: #D3D3D3;
}


/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #2A2729;
  min-height: 12vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

#search-result-box{
  visibility: hidden;
  background-color: #3A3A3A;
  height: 50%;
  width: 150vh;
  margin-left: 30vh;
}

.App-link {
  color: #61dafb;
}

#thumbnail{
  height:140px;
  margin-right: 15px;
}

ul {
	display: flex;
  color: white;
  display: inline-block;
	flex-direction: column;
}

#li1 {
	padding: 3px;
	display: flex;

}

#title {
	display: flex;
	text-align: left;
	font-family: Ariel, Helvetica, serif;
	font-size: 16px;
  font-weight: bold;
	justify-content: left;
}

#li2{
  display: flex;
  color: white;
  flex-direction: column;
}

#desc {
	display: flex;
	text-align: left;
	font-family: Ariel, Helvetica, serif;
	font-size: 14px;
	justify-content: left;
	align-content: flex-start;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
